@inherits LayoutComponentBase

<PageTitle>Curriculo</PageTitle>

<div class="page flex justify-center min-h-screen w-screen bg-gray-200">
    <div class="flex-1 max-w-[210mm] h-[297mm] grid grid-cols-[14rem_1fr] bg-gray-50 text-xs">
        @Body
    </div>
</div>
